*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
}

body {
  font-family: $font-mukta;
  box-sizing: border-box;
  overflow-x: hidden;
  font-style: normal;
  color: white;
  font-weight: 400;
}

::selection {
  background: $selection-color;
  color: $selection-text-color;
}

:focus {
  outline-color: $outline-color;
}

.wrapper {
  max-width: 1250px;
  padding: 0 10px;
  margin: 0 auto;

  @include respond(tab) {
    padding: 0 20px;
  }
  @include respond(mob) {
    padding: 0 20px;
  }
}
