.heading-1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  color: $black;

  @include respond(tab) {
    font-size: 80px;
    line-height: 80px;
  }

  @include respond(mob) {
    font-size: 48px;
    line-height: 58px;
  }
}

.heading-2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 84px;
  color: $black;

  @include respond(mob) {
    font-size: 36px;
    line-height: 43px;
  }
}

.heading-3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  color: $black;

  @include respond(mob) {
    font-size: 24px;
    line-height: 31px;
  }
}

.heading-4 {
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  color: $black;

  @include respond(mob) {
    font-size: 18px;
    line-height: 23px;
  }
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  height: auto;
}
