.u-hide {
  display: none;
}

.u-show {
  display: block;
}

.no-scroll {
  overflow-y: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

.overlay {
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 50;
  background: $white;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s linear;

  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.highlight-blue {
  color: $blue;
}
.highlight-grey-light {
  color: $grey-light;
}
