$blue: #304ffe;
$blue-light: #6e84fe;
$blue-dark: #263fcb;

$white: #ffffff;
$white-light: rgba($white, 0.3);

$black: #13131a;

$grey: #9b9da5;
$grey-light: #eaeaea;
$grey-text: #4c4c51;

$backgrund-light-grey: #f2f3f4;
$backgrund-light-blue: #cae7e6;

$font-mukta: "Mukta", sans-serif;

$purple-hover: $blue-dark;

$card-shadow: 0px 4px 2rem -2px rgba(0, 0, 0, 0.1);

$selection-color: $blue-dark;
$selection-text-color: $white;
$outline-color: $blue-dark;
