.carousel {
  padding: 150px 0 40px;

  @include respond(tab) {
    padding: 100px 0 40px;
  }
  @include respond(mob) {
    padding: 70px 0 40px;
  }
}

.carousel__heading-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.carousel__link {
  @include respond(mob) {
    display: none;
  }
}

.carousel__link-mob {
  display: none;

  @include respond(mob) {
    display: block;
  }
}

.carousel__sub-heading {
  margin-bottom: 30px;
}

.carousel__slides {
  margin-bottom: 30px;
}

.carousel__img {
  max-height: 392px;

  @include respond(tab) {
    max-height: 422px;
  }

  @include respond(mob) {
    max-width: 180px;
  }
}

.carousel__btns {
  display: flex;
  justify-content: flex-end;

  @include respond(tab) {
    justify-content: center;
  }

  @include respond(mob) {
    justify-content: flex-start;
    margin-bottom: 20px;
  }
}

.carousel__btn {
  cursor: pointer;
  border: 1px solid $grey;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;

  @include respond(mob) {
    height: 60px;
    width: 60px;
  }
}

.swiper-button-disabled {
  cursor: none;
  pointer-events: none;
  opacity: 0.4;
}

.swiper {
  overflow: visible;
}

.swiper-slide {
  opacity: 0.25;
  width: auto;
}

.swiper-slide-visible {
  opacity: 1;
}

.carousel__btn-icon {
  font-size: 50px;
  line-height: 50px;
  color: $blue;

  @include respond(mob) {
    font-size: 36px;
    line-height: 36px;
  }
}

.carousel__btn-left {
  margin-right: 20px;

  @include respond(mob) {
    margin-right: 10px;
  }
}
