.text-img {
  padding: 165px 0 160px;

  @include respond(tab) {
    padding: 100px 0;
  }
  @include respond(mob) {
    padding: 70px 0;
  }
}

.text-img__text-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;

  @include respond(tab) {
    flex-direction: column;
  }
}

.text-img__heading {
  @include respond(tab) {
    margin-bottom: 20px;
  }
}

.text-img__text-content {
  width: 615px;

  @include respond(tab) {
    width: auto;
  }
}

.text-img__text {
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  color: $black;
  margin-bottom: 40px;
  max-width: 507px;

  @include respond(mob) {
    font-size: 23px;
    line-height: 32px;
  }
}

.text-img__sub-text {
  font-size: 23px;
  line-height: 37px;
  color: $black;
  max-width: 415px;

  @include respond(mob) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-img__img-box {
  max-height: 635px;
}

.text-img__img {
  width: 100%;
}
