.video {
  padding: 177px 0 150px;

  .video__video {
    width: 100%;
    min-height: 690px;

    @include respond(tab) {
      min-height: 408px;
    }
    @include respond(mob) {
      min-height: 188px;
    }
  }
}
