.footer {
  background-color: $black;
  padding: 83px 0 64px;

  @include respond(tab) {
    padding: 50px 0 44px;
  }

  @include respond(mob) {
    padding: 43px 0 47px;
  }
}
.footer__wrapper {
  padding-right: 120px;

  @include respond(tab) {
    padding-right: 0;
  }
}

.footer__content-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;

  @include respond(tab) {
    flex-wrap: wrap;
    margin-bottom: 120px;
    justify-content: flex-start;
  }

  @include respond(mob) {
    flex-wrap: wrap;
    margin-bottom: 70px;
    justify-content: space-between;
  }
}

.footer__logo-box {
  display: flex;
  flex-direction: column;

  @include respond(tab) {
    flex-direction: row;
    margin-bottom: 72px;
  }

  @include respond(mob) {
    flex-direction: column;
    margin-bottom: 33px;
  }
}

.footer__logo {
  margin-bottom: 25px;

  @include respond(tab) {
    margin-right: 184px;
  }

  @include respond(mob) {
    margin-right: 0;
    width: 150px;
  }
}

.footer__logo-img {
  background-color: $white;
  mask-image: url(../../assets/logo.png);
  mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-image: url(../../assets/logo.png);
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  width: 180px;
  height: 32px;

  @include respond(mob) {
    width: 150px;
    height: 27px;
  }
}

.footer__sing-box {
  display: flex;
  flex-direction: column;
}

.footer__p {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 10px;
}

.footer__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
  max-width: 421px;
  color: $white-light;
}

.footer__btn-box {
}

.footer__btn {
  width: fit-content;
}

.footer__nav {
  @include respond(tab) {
    &:not(:last-child) {
      margin-right: 184px;
    }
  }

  @include respond(mob) {
    &:not(:last-child) {
      margin-right: 0px;
    }
  }
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 23px;
  }
}

.footer__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: $white;
  transition: color 0.3s;
  width: fit-content;

  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}

.footer__copyright,
.footer__link-sec {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $white-light;
}

.footer__link-sec {
  width: 200px;
  transition: color 0.3s;

  &:hover {
    color: $white;
  }

  @include respond(mob) {
    width: 167px;
    margin-right: 0;
  }
}

.footer__content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab) {
    flex-direction: column-reverse;
    align-items: center;
  }

  @include respond(mob) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.footer__social-links {
  display: flex;

  @include respond(tab) {
    margin-bottom: 29px;
  }

  @include respond(mob) {
    margin-bottom: 29px;
  }
}

.footer__socila-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer__social-link {
  width: 40px;
  height: 40px;
  border: 1px solid $white-light;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s, border 0.3s;

  &:hover .footer__scoial-icon {
    color: $white;
  }

  &:hover {
    border: 1px solid $white;
  }
}

.footer__scoial-icon {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $white-light;
  transition: color 0.3s;
}
